<?xml version="1.0"?>
<launch>
    <arg name="config_file" default="$(find multi_sensor_slam)/config/zongmu_car_config.yaml" />

    <node name="multi_sensor" pkg="multi_sensor_slam" type="multi_sensor_node" output="screen" >
      <param name="config_file" value="$(arg config_file)" />
    </node> 
</launch>
